<section class="flex flex-col justify-around items-center my-5">
  <section class="flex flex-row my-10">
    <span
      class="w-12 h-12 bg-indigo-500 rounded-xl flex items-center justify-center rotate-12 shadow-lg"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-6 h-6 text-white"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2.5"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path d="M9 18V5l12-2v13"></path>
        <circle cx="6" cy="18" r="3"></circle>
        <circle cx="18" cy="16" r="3"></circle>
      </svg>
    </span>
    <h1 class="text-sp mx-2 text-3xl font-extrabold tracking-tighter">
      Tune<span
        class="bg-linear-to-r from-indigo-500 via-purple-500 to-pink-500 bg-clip-text text-transparent"
        >Pool</span
      >
    </h1>
  </section>

  <button
    class="bg-indigo-500 px-6 py-3 rounded-full font-bold text-sm flex items-center gap-2 text-white btn-primary"
    (click)="triggerModal()"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="20"
      height="20"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2.5"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <line x1="12" y1="5" x2="12" y2="19"></line>
      <line x1="5" y1="12" x2="19" y2="12"></line>
    </svg>
    Submit Playlist
  </button>
</section>
