@import 'tailwindcss';

@layer components {
  .background-gradient {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background: radial-gradient(circle at top right, #1e1b4b, #0f172a);
    color: #f8fafc;
    min-height: 100vh;
  }

  .btn-primary {
    @apply bg-linear-to-r from-[#6366f1] to-[#a855f7]
    shadow-[0_8px_25px_rgba(99,102,241,0.6)]
    cursor-pointer
    transition-all 
    duration-100 
    ease-in
    hover:shadow-[0_8px_25px_rgba(99,102,241,0.6)] 
    hover:scale-[1.05];
  }

  .glass-card {
    @apply bg-[rgba(255,255,255,0.03)]
    border
    p-6
    backdrop-blur-md 
    rounded-[2.5rem]
    border-[rgba(255,255,255,0.1)]
    transition-all 
    duration-500 
    ease-[cubic-bezier(0.175,0.885,0.32,1.275)] 
    my-5
    relative
    hover:-translate-y-8
    hover:scale-[1.02]
    hover:border
    hover:bg-[rgba(255,255,255,0.07)]
    hover:border-[rgba(255,255,255,0.2)]
    hover:shadow-[0_20px_40px_rgba(0,0,0,0.4)]
    hover:opacity-100;
  }

  .badge-rank {
    @apply w-12 
    h-12 
    rounded-full 
    border-4 
    border-indigo-950
    flex items-center 
    justify-center 
    text-white 
    font-bold
    shadow-xl
    drop-shadow-[0_4px_6px_rgba(0,0,0,0.3)];
  }

  .play-list-art {
    @apply relative
    overflow-hidden
    w-full
    aspect-square
    rounded-[1.8rem]
    mb-6
    shadow-2xl
    flex 
    items-center;
  }
  .play-overlay {
    @apply bg-[rgba(0,0,0,0.4)]
    opacity-0
    transition-opacity
    duration-300
    ease-in
    absolute
    inset-0
    flex
    items-center
    justify-center
    hover:opacity-100;
  }
  .glowing-anim {
    animation: firstRank 2s ease-in-out infinite alternate;
  }
  .modal-background {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background: radial-gradient(circle at top right, #1e1b4b, #0f172a);
    color: #f8fafc;
  }

  .modal-content {
    @apply scale-[0.9]
    transition-transform
    duration-[300]
    ease-[cubic-bezier(0.175,0.885,0.32,1.275)];
  }

  .input-design {
    @apply w-full 
    px-5 
    py-4 
    rounded-2xl 
    text-sm
    mb-2;
  }
  .label-design {
    @apply text-xs 
    font-bold 
    uppercase 
    tracking-widest 
    text-indigo-400 
    
    ml-1;
  }
  .tag-design {
    @apply cursor-pointer
    transition-all
    duration-[0.2]
    ease-in
    select-none
    px-4
    py-2
    rounded-full
    text-xs
    font-bold
    border
    border-white/10
    bg-white/5
    text-indigo-200/70
    uppercase
    hover:scale-[0.9];
  }
}

@keyframes firstRank {
  0% {
    filter: drop-shadow(0 0 0 rgba(255, 215, 0, 0.1));
  }
  100% {
    filter: drop-shadow(0 0 32px rgba(255, 215, 0, 1));
  }
}

input,
textarea {
  background: rgba(255, 255, 255, 0.05) !important;
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
  color: white !important;
  outline: none !important;
  transition: all 0.2s ease;
}

input:focus,
textarea:focus {
  border-color: #818cf8 !important;
  background: rbga(255, 255, 255, 0.08) !important;
  box-shadow: 0 0 0 4px rgba(129, 140, 248, 0.1);
}

.tag-design.active {
  background: #818cf8;
  color: white;
  border-color: #a5b4fc;
  box-shadow: 0 0 15px rgba(129, 140, 248, 0.4);
}

.modal-close {
  display: none;
}
