@import 'tailwindcss';

@layer components {
  .background-gradient {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background: radial-gradient(circle at top right, #1e1b4b, #0f172a);
    color: #f8fafc;
    min-height: 100vh;
  }

  .btn-primary {
    @apply bg-linear-to-r from-[#6366f1] to-[#a855f7]
    shadow-[0_8px_25px_rgba(99,102,241,0.6)]
    cursor-pointer
    transition-all 
    duration-100 
    ease-in
    hover:shadow-[0_8px_25px_rgba(99,102,241,0.6)] 
    hover:scale-[1.05];
  }

  .glass-card {
    @apply bg-[rgba(255,255,255,0.03)]
    border
    p-6
    backdrop-blur-md 
    rounded-[2.5rem]
    border-[rgba(255,255,255,0.1)]
    transition-all 
    duration-500 
    ease-[cubic-bezier(0.175,0.885,0.32,1.275)] 
    my-5
    relative
    hover:-translate-y-8
    hover:scale-[1.02]
    hover:border
    hover:bg-[rgba(255,255,255,0.07)]
    hover:border-[rgba(255,255,255,0.2)]
    hover:shadow-[0_20px_40px_rgba(0,0,0,0.4)]
    hover:opacity-100;
  }

  .badge-rank {
    @apply w-12 
    h-12 
    rounded-full 
    border-4 
    border-indigo-950
    flex items-center 
    justify-center 
    text-white 
    font-bold
    shadow-xl
    drop-shadow-[0_4px_6px_rgba(0,0,0,0.3)];
  }

  .play-list-art {
    @apply relative
    overflow-hidden
    w-full
    aspect-square
    rounded-[1.8rem]
    mb-6
    shadow-2xl
    flex 
    items-center;
  }
  .play-overlay {
    @apply bg-[rgba(0,0,0,0.4)]
    opacity-0
    transition-opacity
    duration-300
    ease-in
    absolute
    inset-0
    flex
    items-center
    justify-center
    hover:opacity-100;
  }

  .floating-anim {
  }
}
